include AUTHORS.rst
include CONTRIBUTING.rst
include changelog.md
include LICENSE
include README.md

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-exclude docs *
recursive-exclude binder *
recursive-exclude **/.ipynb_checkpoints/** *

exclude . .* Makefile readthedocs.yml requirements_dev.txt CODE_OF_CONDUCT.md tox.ini
