[tool.black]
line-length = 99
target-version = ['py36', 'py37', 'py38']
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.isort]
profile = "hug"
src_paths = ["flake8_nb", "test"]
include_trailing_comma = true
line_length = 99
multi_line_output = 3
known_first_party = ["flake8_nb", "tests"]
force_single_line = true

[tool.interrogate]
exclude = ["setup.py", "docs", "tests", ".eggs"]
ignore-init-module = true
fail-under=100
verbose = 1


[tool.coverage.run]
branch = true
include = [
  'flake8_nb/*',
]
omit = [
  'setup.py',
  "flake8_nb/__init__.py",
  "flake8_nb/*/__init__.py",
  "tests/__init__.py",
  "*/tests/*",
# comment the above line if you want to see if all tests did run
  ]

[tool.coverage.report]
# Regexes for lines to exclude from consideration
exclude_lines = [
  # Have to re-enable the standard pragma
  'pragma: no cover',

  # Don't complain about missing debug-only code:
  'def __repr__',
  'if self\.debug',

  # Don't complain if tests don't hit defensive assertion code:
  'raise AssertionError',
  'raise NotImplementedError',

  # Don't complain if non-runnable code isn't run:
  'if 0:',
  'if __name__ == .__main__.:',
]
