pip>=19.2.3
wheel>=0.33.6
# quality asurence
black>=19.10b0
isort>=5.2.2
pre-commit>=2.6.0
pydocstyle>=5.0.2
# test requirements
tox>=3.5.2
pytest>=5.1.3
pytest-runner>=5.1
pytest-cov>=2.5.1
coverage[toml]>=4.5.4
# doc requirements
-r docs/requirements.txt
# package runtime requirements
flake8==5.0.4
nbconvert==6.5.0; python_version > '3.7'
ipython==8.4.0; python_version > '3.7'
