div.nbinput div.input_area,
div.nboutput div.output_area {
    padding: 0 !important;
}

div.nbinput,
div.nbinput div.prompt,
div.nbinput div.input_area,
div.nbinput div[class*="highlight"],
div.nbinput div[class*="highlight"] pre,
div.nboutput,
div.nbinput div.prompt,
div.nbinput div.output_area,
div.nboutput div[class*="highlight"],
div.nboutput div[class*="highlight"] pre {
    padding: 0.2em !important;
}

a.copybtn {
    padding: 0;
    width: 0.8em;
    height: 0.8em;
}

.prompt.highlight-none.notranslate a.copybtn {
    display: none;
}
