name: "Scheduled Tests"
on:
  schedule:
    - cron: "0 7 * * 1" # At 07:00 on each Monday.
  workflow_dispatch:

jobs:
  flake8-nightly:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install dependencies
        env:
          TOX_ENV_NAME: flake8-nightly
        run: |
          python -m pip install -U pip
          python -m pip install -U -r requirements_dev.txt
          python -m pip install .
          python -m pip install --force-reinstall -U -q git+https://gitlab.com/pycqa/flake8.git
      - name: Show flake8 version
        run: |
          pip freeze | grep flake8
      - name: Run tests
        run: |
          py.test -vv --cov=./ --cov-report term --cov-report xml --cov-config .coveragerc tests
